extends layout

block content
    div.helpbox
        h2 Help
        ul
            li This page allows you view and alter the database underlying this website.
            li Browse the pages listed opposite to view raw data, or to add or delete records.

    h1 #{title}

    ul
        li #[a(href="/admin/add/ServiceTime") Add a new service time.]
        ul
            li #[a(href="/admin/remove/ServiceTime") Remove a service time.]
        li #[a(href="/admin/add/Newsletter") Add a new newsletter.]
        ul
            li #[a(href="/admin/remove/Newsletter") Remove a newsletter.]
        li #[a(href="/asis") View the tables in this site's database ``as is''.]
