extends layout

block content
    h1 #{title}

    ul
        li #[a(href="/admin/add/ServiceTime") Add a new service time.]
        ul
            li #[a(href="/admin/remove/ServiceTime") Remove a service time.]
        li #[a(href="/asis") View the tables in this site's database ``as is''.]
