extends layout

block content
    h1 table:#{title}

    if data
        table
            tr
                for column in data.columns
                    th=column
            for row in data.rows
                tr
                    for item in row
                        td=item
    else
        p #[i This table contains no data as yet.]
