extends layout

block content
    helpbox
        h2 Help
        p Select a service time from the drop-down list, and press ``Submit'' to delete it.

    h1=title

    p Delete a record?
    form(action=formAction, method="post")
        p
            | Select service time:
            select(id="serviceTimeID", name="serviceTimeID")
                for summary in serviceSummaries
                    option(value=summary.id) #{summary.description}
        input(type="submit", value="Submit")
