extends layout

block content
    h1 #{title}

    p This page gives some #[b useful external links] to sites connected to the parish.
    ul
        li #[a(href="https://www.st-marys-pri.doncaster.sch.uk/") St Mary's Catholic Primary School, Edlington]
        li #[a(href="https://hallam-diocese.com/") Diocese of Hallam], the diocese to which the parish belongs
        li #[a(href="https://www.cbcew.org.uk/") Catholic Bishops Conference of England and Wales]
