extends layout

block content
    div.helpbox
        h2 Contact
        p #[i Parish priest.] #[b Priest Full Name]
        p #[i Presbytery.] 0123456789 &bull; #[i Mobile.] 0123456789 &bull; #[i Email.] himself@email.com

    h1 Service Times

    table.homepage
        tr
            th Service
            th Weekday
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.weekdayString
                td=service.time
                td=service.location_name
