doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            hr.tabs
            table.tabs
                tr
                    td.tabs button(class="tabs") Parish Council
                    td.tabs button(class="tabs") Youth
                    td.tabs button(class="tabs") Newsletters
            hr.tabs
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
