doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            table.tabs
                tr
                    td.tabs Parish Council
                    td.tabs Youth
                    td.tabs Newsletters
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
