doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.tabs
                table.tabs
                    tr
                        td.tabs #[a(href="/") #[button(class="tabs") Home]]
                        td.tabs #[button(class="tabs") About Us]
                        td.tabs #[button(class="tabs") Youth]
                        td.tabs #[button(class="tabs") Newsletters]
                        td.tabs #[button(class="tabs") More]
                        td.tabs
                            <div class="dropdown">
                              <button class="dropbtn">Dropdown</button>
                              <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                              </div>
                            </div>
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
