doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.tabs
                button(class="tabs") Home
                button(class="tabs") About Us
                button(class="tabs") Parish Council
                button(class="tabs") Youth
                button(class="tabs") Newsletters
                button(class="tabs") More
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
