doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.tabs
                table.tabs
                    tr
                        td.tabs #[a(href="/") #[button(class="tabs") Home]]
                        td.tabs #[button(class="tabs") About Us]
                        td.tabs #[button(class="tabs") Youth]
                        td.tabs #[button(class="tabs") Newsletters]
                        td.tabs
                            div.dropdown
                                button.tabs More
                                div.dropdown-content
                                    a(href="/community") Community
                                    a(href="/gallery") Gallery
                                    a(href="/pilgrimages") Pilgrimages
                                    a(href="/charity") Charitable Works
                                    a(href="/formation") Formation and Foundation
                                    a(href="/donate") Donate
                                    a(href="/outreach") Outreach
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
