doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            table.maxi
                tr
                    td Parish Council
                    td Youth
                    td Newsletters
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
