doctype html
html
    head
        title St Mary's | #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.header
        block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
