doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            hr.tabs
            table.tabs
                tr
                    td.tabs <span class="tabs">Parish Council</span>
                    td.tabs #[span(class="tabs") Youth]
                    td.tabs #[span(class="tabs") Newsletters]
            hr.tabs
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
