doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.tabs
                table.tabs
                    tr
                        td.tabs #[a(href="/") #[button(class="tabs") Home]]
                        td.tabs #[button(class="tabs") About Us]
                        td.tabs #[button(class="tabs") Youth]
                        td.tabs #[button(class="tabs") Newsletters]
                        td.tabs #[button(class="tabs") More]
                        td.tabs
                            div.dropdown
                                button.tabs More
                                div.dropdown-content
                                    #[a(href="#") Link 1]
                                    #[a(href="#") Link 2]
                                    #[a(href="#") Link 3]
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
