extends layout

block content
    h1 #{title}

    if previousFailure
        p #[i Sorry, but you're most recent login attempt was not successful.]

    form(action="/login", method="post")
        p
            | Username: 
            input(type="text", name="username")
        p
            | Password: 
            input(type="password", name="password")
        input(type="submit", value="Submit")
