extends layout

block content
    h1=title

    p Add a new record?
    form(action=formAction, method="post")
        p
            | Service type:
            input(type="text", name="Type")
        p
            | Service time:
            input(type="time", name="Time")
        input(type="submit", value="Submit")
