@font-face {
    font-family: computerModern;
    src: url("fonts/cmunrm.ttf");
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunti.ttf");
    font-style: italic;
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunbx.ttf");
    font-weight: bold;
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunbi.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: fraktur;
    src: url("fonts/fraktur.ttf");
}

body {
    font-family: computerModern, serif;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
    height: 200px;
    background-color: white;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-position: center;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

bbox {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

div.helpbox {
    float: right;
    width: 25%;
    border: 2px solid red;
    margin: 20px auto 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 200px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.homepage {
    width: 65%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

form {
    padding-left: 30px;
}

textarea {
    width: 500px;
    height: 100px;
}
