@font-face {
    font-family: computerModern;
    src: url("fonts/cmunrm.ttf");
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunti.ttf");
    font-style: italic;
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunbx.ttf");
    font-weight: bold;
}
@font-face {
    font-family: computerModern;
    src: url("fonts/cmunbi.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: fraktur;
    src: url("fonts/fraktur.ttf");
}

body {
    font-family: computerModern, serif;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
    height: 200px;
    background-color: white;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.mySlides {
    display: none;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

bbox {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

div.helpbox {
    float: right;
    width: 25%;
    border: 2px solid red;
    margin: 20px auto 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* Slideshow stuff. */
.slideshow-container-homepage {
    max-width: 65%;
    padding: 20px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.homepage {
    width: 65%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

form {
    padding-left: 30px;
}

textarea {
    width: 500px;
    height: 100px;
}
